:host {
    /* Reset styles */
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    /* Footer styles */
    .footer {
        //background-image: linear-gradient(to right, #42A5F5, #1565C0);
        background: url('/src/header-background.png');
        background-size: cover;
        color: #fff;
        padding: 40px 0;
    }
    
    .footer .container {
        max-width: 1200px;
        margin: 0 auto;
    }
    
    .footer h4 {
        color: #fff;
        margin-bottom: 20px;
    }
    
    .footer p {
        color: #ccc;
        margin-bottom: 10px;
    }
    
    .footer ul {
        list-style: none;
        padding-left: 0;
    }
    
    .footer ul li {
        margin-bottom: 10px;
    }
    
    .footer ul li a {
        color: #ccc;
        text-decoration: none;
        transition: color 0.3s ease;
    }
    
    .footer ul li a:hover {
        color: #fff;
    }
    
    .footer .social-icons {
        list-style: none;
        padding-left: 0;
    }
    
    .footer .social-icons li {
        display: inline-block;
        margin-right: 10px;
    }
    
    .footer .social-icons li:last-child {
        margin-right: 0;
    }
    
    .footer .social-icons li a {
        color: #ccc;
        text-decoration: none;
        transition: color 0.3s ease;
    }
    
    .footer .social-icons li a:hover {
        color: #fff;
    }
    
    /* Responsive styles */
    @media (max-width: 768px) {
        .footer .container {
        padding: 0 20px;
        }
    }
    
    @media (max-width: 576px) {
        .footer .col-md-4 {
        margin-bottom: 30px;
        }
    }
  }
  
  
  