<div class="content-container">
    <h1>Contact</h1>
    <p>Welcome to the Contact page!</p>
    <h1>Contact</h1>
    <p>Welcome to the Contact page!</p>
    <h1>Contact</h1>
    <p>Welcome to the Contact page!</p>
    <h1>Contact</h1>
    <p>Welcome to the Contact page!</p>
    <h1>Contact</h1>
    <p>Welcome to the Contact page!</p>
    <h1>Contact</h1>
    <p>Welcome to the Contact page!</p>
    <h1>Contact</h1>
    <p>Welcome to the Contact page!</p>
    <div class="footer-content">
        <sm-software-solutions-footer></sm-software-solutions-footer>
    </div>
</div>
